body {
    background: linear-gradient(to right, rgb(25, 24, 27), rgb(0, 0, 0));
    color: rgb(179, 179, 179); /* Makes text readable on grey */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #a7a7a7;
    padding: 20px;
    background: linear-gradient(to right, red, blue);
    border-radius: 10px;
    display: inline-block;
}
body {
    background: linear-gradient(to right, rgb(25, 24, 27), rgb(0, 0, 0));
    color: white; /* Makes text readable on grey */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
